
.wrap-editor{
  display: flex;
}


.wrap-viewer{
  width: 100%;
  height: 100%;

  canvas{ display: block; }
}

.wrap-editor .settings-panel{
  margin-right: 20px;
  min-width: 330px;
  max-width: 330px;
  max-height: 100%;
  overflow-y: auto;
}

.wrap-settings{
  margin-top: 20px;

  h3{ margin: 1.5em 0 0.5em; }
}

.wrap-settings-top-btn{
  display: flex;
  justify-content: space-between;
}

//.wrap-settings-model-tags{
//  >*{
//    margin-left: 0;
//    margin-right: 8px;
//  }
//}

.wrap-stgs-controls{
  margin-top: 20px;
  font-size: 16px;
}


.wrap-stgs-item{
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;

  >*{ width: 100%; }
}


.setng-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 23px;
  font-size: 15px;

  input[type="color"] {
    width: 50%;
  }
}

.wrap-stng-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;

  .stngs-name{ cursor: pointer; }
  svg{ cursor: pointer; }
}

.stngs-name{
  text-transform: capitalize;
  margin-right: 10px;
}

.texture-preview{
  height: 100%;
  max-width: 50px;
  min-width: 50px;
  margin-right: 5px;
  background-color: white;
  overflow: hidden;
  pointer-events: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);

  >*{ pointer-events: auto; opacity: 0; cursor: pointer; }
}

.btn-remove-texture.small{
  padding: 5px 8px;
  min-width: 45px;
  min-height: 0;
  max-height: 21px;
  position: relative;
  z-index: 6;
  font-size: 11px;
}

.wrap-texture-stng{
  display: flex;
  align-items: center;
}